{% extends "admin.twig" %}
{% block tableDetail%}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title Category</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles  %}
        <tr>
            <th scope="row">{{ article.id }}</th>
            <td>{{ article.title }}</td>
            <td><a href="/admin/editCateg/{{ article.id }}" class="bi bi-vector-pen"></a></td>
            <td><a href="/admin/deleteCateg/{{ article.id }}" class="bi bi-trash"></a></td>
        </tr>
    {% endfor %}
{% endblock %}