<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>eBusiness Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/template/frontend/assetsBlog/img/favicon.png" rel="icon">
    <link href="/template/frontend/assetsBlog/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/template/frontend/assetsBlog/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/template/frontend/assetsBlog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/frontend/assetsBlog/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/template/frontend/assetsBlog/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/template/frontend/assetsBlog/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/template/frontend/assetsBlog/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/template/frontend/assetsBlog/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eBusiness
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1><a href="/"><span>e</span>Business</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="/template/frontend/assetsBlog/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/admin/logout">Exit</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2">
                                <h1 class="title2">My Blog</h1>
                            </div>
                            <div class="layer3">
                                <h2 class="title3">Profesional Blog Page</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Header -->

    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="page-head-blog">
                        <div class="single-blog-page">
                            <!-- search option start -->
                            <form action="#">
                                <div class="search-option">
                                    <input type="text" placeholder="Search...">
                                    <button class="button" type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>
                            <!-- search option end -->
                        </div>
                        <div class="single-blog-page">
                            <!-- recent start -->
                            <div class="left-blog">
                                <h4>recent post</h4>
                                <div class="recent-post">
                                    <!-- start single post -->
                                    {% block postBlock %}{% endblock %}
                                    <!-- End single post -->
                                </div>
                            </div>
                            <!-- recent end -->
                        </div>

                    </div>
                </div>
                <!-- End left sidebar -->
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="row">

                        {% block cardList %}{% endblock %}

                        <!-- End single blog -->
                        <div class="blog-pagination">
                            <ul class="pagination">
                                {% block pagination %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Page -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>e</span>Business</h2>
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +123 456 789</p>
                                <p><span>Email:</span> contact@example.com</p>
                                <p><span>Working Hours:</span> 9am-5pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/1.jpg" alt=""></a>
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/2.jpg" alt=""></a>
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/3.jpg" alt=""></a>
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/4.jpg" alt=""></a>
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/5.jpg" alt=""></a>
                                <a href="#"><img src="/template/frontend/assetsBlog/img/portfolio/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                      -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/template/frontend/assetsBlog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/template/frontend/assetsBlog/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/template/frontend/assetsBlog/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/template/frontend/assetsBlog/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/template/frontend/assetsBlog/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/template/frontend/assetsBlog/js/main.js"></script>

</body>

</html>